/*------1------*/
.homePageText {
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    height: 100vh;
    font-size: 100px;
    margin-left: 25px;
    font-family: "Poppins", sans-serif;
    line-height: 100%;
}

p.homePagetext span.green {background:color: #6bd66b;}
